* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

.App>div {
    border-radius: 5px;
    padding: 0.3em;
    flex: 1 0 45%;
}